

%%%%%
old robcogen 

        inertias.trunk_Ix  = 0.296767
        inertias.trunk_Iy  = 4.418458
        inertias.trunk_Iz  = 4.472778
        inertias.trunk_Ixy = 0.008818
        inertias.trunk_Ixz =- 0.002473
        inertias.trunk_Iyz = 0.000597

        x		 			y
        0.194 (0.097)		0.887 (0.4435)

RobCoGen        

A
        inertias.trunk_Ix  = 0.5957;
        inertias.trunk_Iy  = 8.8692;
        inertias.trunk_Iz  = 8.9782;
        inertias.trunk_Ixy = 0.0177;
        inertias.trunk_Ixz =-0.0050;
        inertias.trunk_Iyz = 0.0012;
B
        inertias.trunk_Ix  = 0.9289;
        inertias.trunk_Iy  = 8.8692;
        inertias.trunk_Iz  = 9.8236;
        inertias.trunk_Ixy = 0.0310;
        inertias.trunk_Ixz =-0.0050;
        inertias.trunk_Iyz = 0.0021;
C
        inertias.trunk_Ix  =  0.5957;
        inertias.trunk_Iy  = 21.1293;
        inertias.trunk_Iz  = 22.3448;
        inertias.trunk_Ixy =  0.0283;
        inertias.trunk_Ixz = -0.0079;
        inertias.trunk_Iyz =  0.0012;
D
        inertias.trunk_Ix  =  0.9289;
        inertias.trunk_Iy  = 21.1293;
        inertias.trunk_Iz  = 23.1902;
        inertias.trunk_Ixy =  0.0496;
        inertias.trunk_Ixz = -0.0079;
        inertias.trunk_Iyz =  0.0021;


%%%%
URDF
	<property name="m_trunk" value="79.71"/>
lengths

		FB    (%)	  	LR   (%)		Variation Number
    0.887 (100%)    0.194 (100%)		A    	
    0.887 (100%)    0.3395 (175%)		B
    1.4192 (160%)   0.194 (100%)		C
    1.4192 (160%)   0.3395 (175%)		D


    CoM = (0.060663, 0.000598, -0.007592)



	<property name="m_trunk" value="79.71"/>

	<property name="ixx_trunk" value=""/>
	<property name="iyy_trunk" value=""/>
	<property name="izz_trunk" value=""/>
	<property name="ixy_trunk" value=""/>
	<property name="ixz_trunk" value=""/>
	<property name="iyz_trunk" value=""/>


A

    <property name="ixx_trunk" value=" 0.6064"/>
    <property name="iyy_trunk" value=" 9.5376"/>
    <property name="izz_trunk" value=" 9.6835"/>
    <property name="ixy_trunk" value="-0.0102"/>
    <property name="ixz_trunk" value=" 0.0093"/>
    <property name="iyz_trunk" value="-0.0035"/>

B

    <property name="ixx_trunk" value=" 0.9456"/>
    <property name="iyy_trunk" value=" 9.5376"/>
    <property name="izz_trunk" value="10.5953"/>
    <property name="ixy_trunk" value="-0.0179"/>
    <property name="ixz_trunk" value=" 0.0093"/>
    <property name="iyz_trunk" value="-0.0062"/>

C

    <property name="ixx_trunk" value=" 0.6064"/>
    <property name="iyy_trunk" value="22.7217"/>
    <property name="izz_trunk" value="24.1002"/>
    <property name="ixy_trunk" value="-0.0163"/>
    <property name="ixz_trunk" value=" 0.0150"/>
    <property name="iyz_trunk" value="-0.0035"/>

D
    <property name="ixx_trunk" value=" 0.9456"/>
    <property name="iyy_trunk" value="22.7217"/>
    <property name="izz_trunk" value="25.0120"/>
    <property name="ixy_trunk" value="-0.0286"/>
    <property name="ixz_trunk" value=" 0.0150"/>
    <property name="iyz_trunk" value="-0.0062"/>

